body {
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/Hepatitis-C.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.container {
    /*background-color: white;*/
    opacity: 0.8;
    padding: 50px 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    max-width: 700px;
    color: white;
    width: 100%;
}
.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}
.form-row {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.form-group {
    flex: 1;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff; /* Ensures the dropdown background matches the input */
}
.form-group select {
    -webkit-appearance: none; /* Removes default arrow styling for better consistency */
    -moz-appearance: none;
    appearance: none;
}
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.button-group button {
    display: block;
    text-align: center;
    width: 48%;
    padding: 12px;
    background: #4d4f9a;
    color: white;
    border: none; /* Remove default button border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
.button-group button:hover {
    background-color: #e43c5c;
}